<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 text-center mb-5">
        <h1>Login</h1>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-6 col-lg-5">
        <div class="login-wrap p-4 p-md-5">
          <div class="icon d-flex align-items-center justify-content-center">
            <span class="fa fa-user-o"></span>
          </div>
          <h3 class="text-center mb-4">
            <a routerLink="/signUp">Have an account?</a>
          </h3>
          <form
            action="#"
            class="login-form"
            #credential="ngForm"
            (ngSubmit)="login(credential.value)"
          >
            <div class="form-group">
              <input
                type="text"
                name="username"
                value="tafinasoa35@gmail.com"
                class="form-control rounded-left"
                placeholder="Username"
                required
                ngModel
              />
            </div>
            <div class="form-group d-flex">
              <input
                type="password"
                name="password"
                class="form-control rounded-left"
                placeholder="Password"
                value="lorem"
                required
                ngModel
              />
            </div>
            <div class="form-group d-flex">
              <select
                name="logAs"
                id=""
                class="form-control rounded-left"
                placeholder="Log as"
                required
                ngModel
              >
                <option value="ra">Workshop manager</option>
                <option value="rf">finance manager</option>
              </select>
            </div>
            <div class="form-group d-md-flex">
              <div class="w-50">
                <label class="checkbox-wrap checkbox-primary"
                  >Remember Me
                  <input type="checkbox" checked />
                  <span class="checkmark"></span>
                </label>
              </div>
              <div class="w-50 text-md-right">
                <a href="#">Forgot Password</a>
              </div>
            </div>
            <div class="form-group">
              <button
                type="submit"
                class="btn btn-primary rounded submit p-3 px-5"
              >
                Sign In
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
