<div class="flex flex-wrap">
  <div class="w-full px-4">
    <div>
      <div
        class="relative flex flex-col min-w-0 break-words bg-slate-100 w-full mb-6 shadow-md rounded"
      >
        <div class="rounded-t bg-white mb-0 px-6 py-6">
          <div class="text-center flex justify-between">
            <h6 class="text-blueGray-700 text-xl font-bold">Drag test</h6>
          </div>
        </div>
        <div class="flex-auto px-4 lg:px-10 py-10 pt-0"></div>
        <hr />
        <div class="flex-auto px-4 lg:px-10 py-10 pt-0">
          <div class="flex gap-4">
            <div cdkDropListGroup>
              <div class="example-container">
                <h2>To do</h2>

                <div
                  cdkDropList
                  [cdkDropListData]="todo"
                  class="example-list"
                  (cdkDropListDropped)="drop($event)"
                >
                  <div class="example-box" *ngFor="let item of todo" cdkDrag>
                    {{ item }}
                  </div>
                </div>
              </div>

              <div class="example-container">
                <h2>Done</h2>

                <div
                  cdkDropList
                  [cdkDropListData]="done"
                  class="example-list"
                  (cdkDropListDropped)="drop($event)"
                >
                  <div class="example-box" *ngFor="let item of done" cdkDrag>
                    {{ item }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
